<div class="container">
  <h1>New Post</h1>

  <form name="newPost"
    class="form"
    ng-submit="post.addPost(newPost.$valid, data)">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text"
        class="form-control"
        id="title"
        name="title"
        ng-model="data.title">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea id="content" name="content"
        class="form-control"
        cols="30" rows="10"
        ng-model="data.content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
